[submodule "Library/MX_Alps_Hybrid.pretty"]
	path = Library/MX_Alps_Hybrid.pretty
	url = https://github.com/ai03-2725/MX_Alps_Hybrid.pretty
[submodule "Library/random-keyboard-parts.pretty"]
	path = Library/random-keyboard-parts.pretty
	url = https://github.com/ai03-2725/random-keyboard-parts.pretty
[submodule "Library/Keebio-Parts.pretty"]
	path = Library/Keebio-Parts.pretty
	url = https://github.com/keebio/Keebio-Parts.pretty.git
[submodule "Library/keebio-components"]
	path = Library/keebio-components
	url = https://github.com/keebio/keebio-components.git
[submodule "Library/Type-C.pretty"]
	path = Library/Type-C.pretty
	url = https://github.com/ai03-2725/Type-C.pretty
[submodule "kicad_libraries"]
	path = kicad_libraries
	url = https://github.com/alvaromuente/kicad_libraries
